/*General Style*/
/* color */
:root {
	--darkblue: #223555;
	--blue: #1999BA;
	--lightblue: #D0ECF2;
	--orange: #FF8202;
	--cpy-yellow: #FFB466;
};

*p {
	line-height: 32px;
}

h4 {
	margin-top: : 1em;
	margin-bottom: : 1em;
	letter-spacing: 0.05em;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.white {
	background-color: white;
}

.red {
	color: #FF6666;
}

/*layout*/
/*text-center*/
.tc {
 text-align: center;
}
.tr {
	text-align: right;
}

.flex-parent {
	display: flex;
}

.flex-column {
	flex-direction: column;
} 

.flex-center {
	align-items: center;
}

.flex-end {
	align-items: flex-end;
}

/*.content__item {
	flex:1;
}*/

.flex-none {
 flex: none;
}

.flex-1 {
	flex: 1;
}

.flex-2 {
	flex: 2;
}

.flex-multiple {
	margin:0 auto;
}

.flex-reverse {
	flex-flow: row-reverse;
}

.flex-child-small-img {
	max-width: 300px;
	margin:0 auto;
}

.wrap {
  flex-wrap: wrap;
}



.section__titleblock {
	max-width: 543px
}

.section__title {
	margin-top: 1em;
	margin-bottom: 1em;
}

.content__title {
	margin-top: 1em;
	margin-bottom: 1em;
}

.number-tag {
  color: white;
  background-color: #FF6666;
  padding: 8px 14px;
  margin-right: 0.8em;
  border-radius: 20px;
  text-align: center;
}



/*landingpage*/
.casestudy__landingpage {
	position: relative;
	width:100%; 
}

.casestudy__landingpage .navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: #ffffff80;
}

.casestudy__hero {
/*	max-width: 1980px;*/
	margin-left: auto;
	margin-right: auto;
  padding: 0;
}

.hero__item {
	margin:0;
}


.hero__title {
  text-transform: uppercase;
}


.main_title {
	max-width: 1200px;
	margin:0 auto;
	padding: 0.5em;
}

.main_title {
  position: relative;
  margin: 0 auto;
	padding-bottom: 0;
	top: var(--fs-h3);
	padding: 1rem;
}

.main_title .number {
  z-index: -20;
  color: rgba(208, 236, 242, 1);
  bottom: 0;
  font-family: var(--ff-serif);
}

.main_title .title {
	color: rgba(25, 153, 186, 1);
  font-family: var(--ff-serif);
  position: absolute;
  bottom: var(--fs-h3);
  left: 0;
  right: 0;
}

.content__item {
	padding: 1rem 0;
}


.overview-list {
	display: flex;
	justify-content:space-between;
	margin: 0 auto;
}

.overview__item + .overview__item {
	margin-left: 2em;
}

/*Problem statement*/
.problem-statement {
	color: white;
}

.problem-statement p {
    margin: 3rem;
    padding: 1rem;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.8;
}

/*Slideshow*/
.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: rgba(0,0,0,0.3);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.more-work {
	max-width: 1200px;
	margin:80px auto;
	margin-bottom: 20px;
	padding: 1em;
}

.more-work h4 {
	margin-top: 24px;
	margin-bottom: 24px;
}



.more-work__item {
	background: var(--clr-medium);
	margin:1em auto;
	border-radius: 8px;
	max-width: 400px;
	transition: all 200ms ease-in-out;
}

.more-work__item:hover {
	box-shadow: var(--bs);
	border: 2px solid black;
}

.more-work_text {
	background-color: var(--clr-medium);
  padding: 1em;
  text-align: center;
  height: 220px;
  border-radius: 8px;
}

.more-work__img {
	height: 480px;
  padding: 1em;
  object-fit: contain;
}

.img-cover {
	object-fit: cover;
}
F
.btn {
	width: 100%;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}

.back-home-btn {
	text-align: center;
  padding: 1rem 2rem;
  border: 1px solid var(--clr-dark);;
  border-radius: 40px;
  background: white;
  font-weight: var(--fw-med);
  transition: all 200ms;
 	margin: 0 auto;
 	line-height: normal;
}

.back-home-btn:hover {
	background:linear-gradient(180deg, rgba(252, 92, 125, 0.3) 0%, rgba(106, 130, 251, 0.3) 100%);
/*  color: var(--clr-light);*/
  border: none;
  text-decoration: none;  
} 



/*Wide Screen*/

/*.section__flexcontent=flexparent + container*/
/*.content__item = flexchild*/

@media(min-width: 600px) {
	.main_title .number {
		font-size: 8rem;
	}
}

@media(min-width: 900px) {
	.hero__item {
		height: 90vh;
	}

	.section__flexcontent {
		display: flex;
		justify-content: space-between;
	}

	.section__flexcontent{
		max-width: 1200px;
		margin:24px auto;
		padding: 0.5em;
	}

	.flex-multiple {
		display: flex;
	}

	.flex-multiple .content__item+ .content__item {
		margin-left:1.5em;
	}

	.content__item {
		padding: 1rem;
	}

	.content__copy {
    max-width: 600px;
    width: 100%
	}


	.main_title .number {
		bottom: 44px;
	}

section {
		padding: 32px 1rem;
	}

	.problem-statement .section__flexcontent{
		flex-direction: column;
	}

	.works {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
}
}






/*teamup*/
.casestudy__hero .portfolio__item--teamup::before {
   	background-size: cover;
    background-position: center;
}

.hero__img--teamup {
	max-height: 100%;
	object-fit: scale-down;
}

