*,
*::before,
*::after {
		box-sizing:border-box;
}

:root {
	 --ff-sans:niveau-grotesk, sans-serif;
	 --ff-serif:portada, serif;

	 --fw-reg: 400;
	 --fw-med: 500;
	 --fw-bold: 700;
   --fw-exbold: 800;
   --fw-blk: 900;

   --fs-h1: 3rem;
   --fs-h2: 1.75rem;
   --fs-h3: 1.5rem;
   --fs-h4: 1.25rem;
   --fs-h5: 1.125rem;
   --fs-body: 1rem;


   --clr-white:white;
   --clr-light: #f2f2f2;
   --clr-medium: #E0E0E0;
   --clr-blk: #333333;
   --clr-dark: #4F4F4F;
   --clr-accent: #C84599;
   --clr-2gradient:linear-gradient(144.72deg, #FAA551 -26.84%, #C84599 125.88%);
   --clr-3gradient:linear-gradient(180deg, #FFD5AD 0%, #F9C7FF 50%, #A7F5FA 100%);
   --clr-3gradienthor:linear-gradient(90deg, #FFD5AD 0%, #F9C7FF 50%, #A7F5FA 100%);


   --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
   			0.125em 0.125em 0.25em rgba(0,0,0,.15); 
   --ts: 0.125em 0.125em 0.8em rgba(0,0,0,.5);
}


@media (min-width: 600px) {
	:root {
		--fs-h1: 4rem;
   --fs-h2: 3rem;
   --fs-h3: 2.5rem;
   --fs-h4: 1.5rem;
   --fs-h5: 1.25rem;
	}
}


@media (min-width: 900px) {
	:root {
		--fs-h1: 6rem;
   --fs-h2: 4rem;
   --fs-h3: 3rem;
	}
}


/*general styles*/

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--clr-light);
	color: var(--clr-dark);
	font-family: var(--ff-sans);
	font-size: var(--fs-body);
	line-height: 1.6;
}

img {
	display:block;
	max-width: 100%;
	width: 100%;
}

/*typography*/

h1,
h2,
h3,
h4,
h5 {
	line-height:1.1;
	margin:0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}
h4 {font-size: var(--fs-h4);}
h5 {font-size: var(--fs-h5);
		font-weight: var(--fw-med);
		}

section {
 padding: 2em 1em;
}

@media (min-width: 900px) {
	section {
	 padding: 0;
	}
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

/*Navbar*/

.logo {
	max-width: 50px;
}

.navbar {
	display: flex;
	align-items: center;
  justify-content: space-between;
  padding: 1em;
  padding-top: 1em;
}


@media (min-width: 900px) {
	.navbar {
		padding-left: 3rem;
    padding-right: 3rem;
	}
}

/*.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 969px;
  left: 0;
  background-color: rgb(255 255 255 / 50%);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--clr-dark)
  display: block;
}

.sidenav a:hover {
  color: var(--clr-accent);
}*/

.nav {
  position: fixed;
  background: var(--clr-3gradient);
  color:var(--clr-dark);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(.19,1,.22,1);
}

.nav__list {
	list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
	color: inherit;
  font-size: var(--fs-h5);
  font-weight: var(--fw-med);
  text-decoration: none;
  align-self: center;
}

.nav__link:hover {
	color: var(--clr-accent);
}

.nav li {
  display: flex;
  width: 100%;
  height:100%;
  flex: 1;
  justify-self: center;
  justify-content: center;
}

.nav li:nth-child(1) {
	background: linear-gradient(88.91deg, #FAC1CD -40.99%, #CDD5FE 123.2%);
}

.nav li:nth-child(2) {
	background: linear-gradient(89.63deg, #FBCBD5 -39.8%, #BEC9FD 125.49%);
}

.nav li:nth-child(3) {
	background: linear-gradient(88.5deg, #FAC1CD -54.88%, #CDD5FE 128.59%);
}

.nav-toggle {
	padding: 1rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  z-index: 600;
}

.nav-open .nav {
	transform: translateX(0);
}

.nav-open .nav-toggle {
	position: fixed;
}

.nav-open .hamburger {
	transform: rotate(0.625turn);
	transition: transform 200ms ease-in-out;
}

.nav-open .hamburger::before {
	transform: rotate(90deg) translateX(-9px);
	transition: transform 200ms ease-in-out;
}

.nav-open .hamburger::after {
	opacity: 0;
}

@media (min-width: 900px)  {
	.nav {
		background: var(--clr-3gradienthor);
		transform: translateY(-100%);
	}

	.nav__list {
		flex-direction: row;
	}

	.nav__link {
  font-size: var(--fs-h3);
}

	.nav-open .nav {
	transform: translateY(0);
}
}

.hamburger,
.hamburger::before,
.hamburger::after {
	background: var(--clr-2gradient);
  width: 2rem;
  height: 3px;
  border-radius: 1rem;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger::before,
.hamburger::after {
	content:'';
	position: absolute;
	left: 0;
	right: 0;
	transition: tranform 250ms ease-in-out;
}

.hamburger::before {
	top: 9px; 
}

.hamburger::after {
	bottom: 9px; 
}


.intro__title {
	text-align: center;
	padding:0 0.2rem;
	color: var(--clr-dark);
}

.section__subtitle {
	font-size: var(--fs-h4);
	text-align: center;
}
}


/*CTA button*/

.


/*.landingpage {
	background-image: url(../img/homepage/hero3.png);
	background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin: 0 auto;
}*/

.landingpage {
	position: relative;
	width:100%; 
}

.landingpage::before {
	content: "";
	background-image: url(../img/homepage/hero4.png);
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
	background-position: center;
  padding-bottom: 2em;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: 620px;
}

.landingpage--about::before {
	content: "";
	background-image: url(../img/about-bg.png);
}


@media (min-width: 600px){
	 .landingpage {
		height: 90vh;
	}

	 .landingpage::before {
 		background-size: 1100px;
}
}

@media (min-width: 1000px) {
/*	.landingpage {
	  background-image: url(../img/homepage/hero3.png);
   	background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1200px;
    margin: 0 auto;
}*/

 .landingpage::before {
 		background-size: cover;
 		height: 80vh; 
 }
}

@media (min-width: 1200px) {
	.landingpage {
		height:110vh;
	}
	
	 .landingpage::before {
 		background-size: cover;
 		height: 110%; 
 		background-position: bottom;
 		top:-50px;
 }
}

/*Intro section*/
.intro {
	position: relative;
  top: 7em;
}

.intro__body {
	font-size: var(--fs-body);
	margin: 2rem auto;
  max-width: 400px;
  color: black;
}


.intro__body a {
	color: black;
}

.intro__body a:hover {
	color: var(--clr-accent);
}

@media (min-width: 900px) {
	.intro {
		display: grid;
		grid-template-columns:  repeat(12,1fr);
		max-width: 1200px;
		margin:0 auto;
	}

	.intro__title--intro-1 {
	 grid-column: 1 / 13;
	 text-align: left;
	}

	.intro__title--intro-2 {
		grid-column: 5 / 13;
		text-align: left;
	}


	.intro__body {
		grid-column: 5 / 11;
		text-align:left;
		font-size:var(--fs-h5);
		padding:0 0.2rem;
		max-width: fit-content;
		letter-spacing: 0.5px;
	}
}


/*portfolio section*/

.portfolio {
	/*max-width: 1400px; to make it full-width*/
	margin: 2rem auto;
	margin-bottom: 0;
	padding: 4em 0em;
}

.portfolio__item {
	margin: 0.5rem auto;
	width:100%;
	color: var(--clr-light);
	/*background: linear-gradient(180deg, rgba(254, 172, 94, 0.5) 0%, rgba(199, 121, 208, 0.5) 50%, rgba(75, 192, 200, 0.5) 100%);*/
	position: relative;
	height:80vh;
	overflow: hidden;
}

.portfolio__item::before {    
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
	background-position: center;
  background-size: cover;
  opacity: 0.2;
  filter: blur(4px);
  transition: all 500ms ease-in-out;
}

.portfolio__item:hover::before {
	transform:scale(1.2);
}

.portfolio__number {
	position: absolute;
  font-family: var(--ff-serif);
  font-weight: var(--fw-bold);
  font-size: 13rem;
  line-height: normal;
  letter-spacing: -0.05em;
  color: rgba(255, 255, 255, 0.2);
  margin:0;
}

.portfolio__btn {
	color: var(--clr-light);
	display: block;
	text-decoration: none;
	font-family: var(--ff-sans);
	font-weight: var(--fw-med);
	font-size: 0.8rem;
	line-height: 40px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin: 1em 0;
	transition: all 200ms ease-in-out;
	opacity:0.7;
	width: 200px;
	text-align: center;
  position: absolute;
}

.portfolio__btn:hover {
	opacity: 1;
	color: linear-gradient(106.72deg, #05B8F2 -8.93%, #0046FE 109.02%);
}

.portfolio__btn::before,
.portfolio__btn::after {
	content: '';
  display: block;
  height: 2px;
  background-color: var(--clr-light);
}


.portfolio__text {
	position: absolute;
	text-shadow: var(--ts);
	z-index: 2;
  padding: 0.5em;
  top: 2rem;
  left: 2rem;
}

.portfolio__title {
	font-family: var(--ff-serif);
	font-weight: var(--fw-blk);
}

.portfolio__subtitle {
  margin-top: 0;
  font-weight: var(--fw-reg);
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.portfolio__tag {
  font-size: 0.8rem;
  margin-bottom: 1em;
}

.portfolio__item__img {
	position: absolute;
}

@media (min-width: 900px) {
/*  .portfolio__item {
  	max-width: 1400px;
  }*/

	.portfolio__text {
  	padding: 2em 4em;
  	top: 20%;
	}

 	.portfolio__title {
 		font-size: 7rem;
 		margin: 1.5rem 0; 
 	}

 	.portfolio__tag {
  font-size: 1rem;
  margin-bottom: 2rem;
}


	.portfolio__number {
    font-size: 20rem;
    top: 40%;
	}

	.portfolio__text {
		grid-area: header;
	}

	.portfolio__item__img {
		grid-area: img;
	}
}


/*Project 01 Intermezzo*/

.portfolio__item--intermezzo {
	/*background-color: rgba(14, 118, 160);*/
	background: linear-gradient(73.99deg, #C779D0 -17.42%, #4BC0C8 88.54%);
}

.portfolio__item--intermezzo::before {    
  background-image: url(../img/intermezzo-bg.png);
  filter: none;
}

.portfolio__item--intermezzo .portfolio__text {
	 text-align: right;
	 top: 50%;
	 transform: translateY(-50%);
	 right: 1rem;
}

.portfolio__item__img--intermezzo01 {
  width: 80%;
  padding: 1rem;
}

.portfolio__item__img--intermezzo02 {
 display: none;
}

.portfolio__item__img--intermezzo03 {
	width:80%;
  padding: 1rem;
  bottom: 0;
  right: 0;
}

.portfolio__item--intermezzo .portfolio__number {
		top: 30%;
    right: 1rem;
}

.portfolio__item--intermezzo .portfolio__btn {
  	right: 1em;
}


@media (min-width: 600px) {
.portfolio__item__img--intermezzo01, .portfolio__item__img--intermezzo03{
		width: 60%;
		left: 0;
	}
}

@media (min-width: 900px) {

.portfolio__item__img--intermezzo {
		display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
    height: 100%;
	}

	.portfolio__item__img--intermezzo01, .portfolio__item__img--intermezzo02, .portfolio__item__img--intermezzo03 {
		width: 450px;
		left: 1rem;
		padding: 1rem;	
		position: relative;
	}

	.portfolio__item--intermezzo .portfolio__text {
    right: -2rem;
  }

	.portfolio__item--intermezzo .portfolio__number {
    right: 4rem;
    top: 10%;
	}

	.portfolio__item--intermezzo .portfolio__btn {
  	right: 5rem;
	}
}

@media (min-width: 1100px) {
	.portfolio__item__img--intermezzo {
    justify-content: center;
	}

	.portfolio__item__img--intermezzo01, .portfolio__item__img--intermezzo02, .portfolio__item__img--intermezzo03 {
		display: block;
		left: 2rem;
		padding:0.2rem;
	}
}

/*Project 02 TeamUp*/
.portfolio__item--teamup {
	/*background-color: rgba(65, 109, 166);*/
	background: linear-gradient(288.92deg, rgba(252, 92, 125, 0.8) 0.01%, rgba(106, 130, 251, 0.8) 100%);
}

.portfolio__item--teamup .portfolio__number {
  left: 1rem;
}

.portfolio__item--teamup::before {    
  background-size: 120%;
  background-image: url(../img/teamup-bg.jpg);
  background-position-x: 100%;
}

.portfolio__item__img--teamup {
	top: 50%;
  left: 50%;
  padding: 1em;
  max-width: 80%;
  transform: translateX(-50%) translateY(-30%);
}

@media (min-width: 600px) {
.portfolio__item__img--teamup {
   transform: translateX(-50%) translateY(-50%);
	}
}

@media (min-width: 900px) {
	.portfolio__item--teamup {
		display:grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"header img" 
			"header img";
	}

	.portfolio__item--teamup .portfolio__number {
    left: 4rem;
    top: 10%
  }

  .portfolio__item__img--teamup {
    max-width: 50vh;
    place-self: center;
	}
}


/*Project 03 CPY*/
.portfolio__item--cpy {
	/*background-color: rgba(13, 13, 13);*/
	background: linear-gradient(98.83deg, #FAA551 6.86%, #C84599 140.7%);
}

.portfolio__item--cpy .portfolio__number {
	right: 2rem;
}

.portfolio__item--cpy::before {    
  background-image: url(../img/cpy-bg2.jpeg);
}

.portfolio__item__img--cpy {
	bottom: 10%;
}

@media (min-width: 600px) {
	.portfolio__item__img--cpy {
   	bottom: -12%;
    left: -14%;
    width: 800px;
	}
}

@media (min-width: 900px) {
	.portfolio__item--cpy .portfolio__number {
    left: 4rem;
  }

  .portfolio__item__img--cpy {
  	bottom: -2%;
    left: 23%;
    width: 800px;
/*    transition: all 300ms ease-in-out;*/
	}
/*
	.portfolio__item__img--cpy:hover {
		transform: scale(1.2);
	}
*/
}

/*using grid in layout*/
@media (min-width: 1100px) {
	.portfolio__item--cpy {
		display:grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"img header" 
			"img header";
	}

	.portfolio__item--cpy .portfolio__text {
		text-align: right;
    left: auto;
    grid-column: 1/-1;
    justify-self: end;
	}

	.portfolio__item--cpy .portfolio__number {
   	left: auto;
    right: 4rem;
    top: 10%;
	}	

  .portfolio__item__img--cpy {
  	bottom: auto;
  	left: -60px;
    max-width: 123%;
    place-self: center;
	}

	.portfolio__item--cpy .portfolio__btn {
		right: 5rem;
	}
}

/*Project 04 WildTracker*/
.portfolio__item--wildtracker {
	/*background-color: rgba(9, 132, 147);*/
	background: linear-gradient(110.71deg, #FEAC5E 0.44%, #4BC0C8 95.72%);
}

.portfolio__item--wildtracker .portfolio__number {
	left: 1rem;
}

.portfolio__item--wildtracker::before {    
  background-image: url(../img/wildlife-bg.jpg);
  height: 1100px;
  background-position-x: -200px;
}

.portfolio__item__img--wildtracker {
	bottom: 6%;
  right: -15%;
}

@media (min-width: 600px) {
	.portfolio__item__img--wildtracker {
	width: 550px;
  bottom: -5%;
  right: -11%;
	}
}

@media (min-width: 900px) {
	.portfolio__item--wildtracker {
		display:grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"header img" 
			"number img";
	}

	.portfolio__item--wildtracker .portfolio__number {
    left: 4rem;
    top: 10%;
  }

  .portfolio__item__img--wildtracker {
    bottom: auto;
    right: 100px;;
	}
}

@media (min-width: 1380px) {
	.portfolio__title--wildtracker {
		white-space: nowrap;
	}
}

/*Project 05 Johnny's Woodworking*/
.portfolio__item--johnny {
	/*background-color:rgba(172, 66, 50);*/
	background: linear-gradient(108.52deg, #FAA551 -13.78%, #C84599 124.51%);

/*
  background-size: 1200px;
  background-position-y: 50%;
  background-position-x: 63%;*/
}

.portfolio__item--johnny .portfolio__number {
	right: 2rem;
}

.portfolio__item--johnny::before {    
  background-image: url(../img/Johnny-bg.jpg);
}

.portfolio__item--johnny .portfolio__text {
	left:0;
}

.portfolio__item__img--johnny {
	top: 40%;
  width: 1100px;
}

@media (min-width: 600px) {
	.portfolio__item__img--johnny {
	top: 31%;
  width: 1100px;
}
	.portfolio__item--johnny .portfolio__text {
	left:2rem;
}
}

@media (min-width: 900px) {
	.portfolio__item--johnny {
		display:grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"img header" 
			"img header";
	}

	.portfolio__item--johnny .portfolio__text {
		text-align: right;
    left: auto;
    top: auto;
    justify-self: end;
    align-self: start;
    bottom: 4rem;
}

	.portfolio__item--johnny .portfolio__number {
    right: 4rem;
    top:25%;
	}	

  .portfolio__item__img--johnny {
    top:auto;
    max-width: 110%;
    grid-row: 1/-1;
	}

	.portfolio__item--johnny .portfolio__btn{
		right: 5rem;
	}
}

/*Project 06 La Boheme*/
.portfolio__item--laboheme {
	/*background-color: rgba(121, 107, 93);*/
	background: linear-gradient(71deg, #FEAC5E 0%, #C779D0 99.62%);
	margin-bottom: 0;
}

.portfolio__item--laboheme .portfolio__number {
	left: 1rem;
}

.portfolio__item--laboheme::before {    
  background-image: url(../img/laboheme-bg.jpg);
}

.portfolio__item__img--laboheme {
 	right: -14%;
  max-width: 450px;
  bottom: 25%;
}

@media (min-width: 600px) {
	.portfolio__item__img--laboheme {
 		right: 1%;
    max-width: 600px;
	}
}

/*using grid in layout*/
@media (min-width: 1100px) {
	.portfolio__item--laboheme {
		display:grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"header img" 
			"header img";
	}

	.portfolio__item--laboheme .portfolio__text {
		bottom: 4rem;
    top: auto;
	}

	.portfolio__item--laboheme .portfolio__number {
 		left: 4rem;
    bottom: 4rem;
	}	

  .portfolio__item__img--laboheme {
  	max-width: 900px;
    bottom: auto;
    right: 2rem;
    top: 2rem;
    place-self: center;
	}

	.portfolio__item--laboheme .portfolio__btn{
		left: 5rem;
	}
}

/*footer*/
.footer {
	background-image: url(../img/homepage/footer-bg.png);
  background-size: contain;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  padding: 1em;
  background-color: var(--clr-medium);
  margin-bottom: 0ï¼›
  max-width:;	1400px;
}

.footer__logo {
	width: 30px;
  line-height: 1;
  margin-right: 0.5rem;
}

.footer__content {
	width:100%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__item {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.footer__p--small {
	font-size: 0.8rem;
	line-height: 0;
	text-align: center;
}

.footer a {
	color: var(--clr-dark);
	/*color:linear-gradient(90deg, #FAA551 0.17%, #C84599 100.2%);*/
	font-weight: var(--fw-med);
	margin: 1em;
}

.footer a:hover {
	color: var(--clr-accent);
}

.btn {
	margin: 0 auto;
}

